/*
 * Created in 2025 by Gaëtan Serré
 */

:root {
  --accent: #657ed4;
  --accent-compl: #d4bb65;
  --background: #eef0f2;
  --background-lighter: #fafafa;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 12pt;
  display: hidden;
  text-justify: auto;
  background-color: var(--background);
}

/***********************************/

pre {
  font-family: monospace;
}

p,
pre,
code.block {
  line-height: 1.25;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 110%;
}

h6 {
  font-size: 105%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.row {
  display: flex;
}

.column_outline {
  flex: 20%;
  background-color: var(--background-lighter);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.column_content {
  flex: 80%;
}

.wrap {
  position: relative;
  top: 50%;
  margin: auto;
  width: 85%;
  text-align: justify;
  font-family: sans-serif;
}

.inner-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inner-wrap ul li a:visited,
.inner-wrap ul li a:link {
  text-decoration: none;
  color: inherit;
}

.inner-wrap ul li a:hover {
  text-decoration: underline
}

.first {
  padding-left: 1em;
  font-size: 11pt;
}

.first ul>li {
  margin-left: 1.5em;
}

.last {
  font-size: 11pt;
  margin-top: auto;
  margin-bottom: 1em;
}

.last ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  font-family: sans-serif;
}

.toc {
  padding: 5em 0 0 1em;
  font-weight: bold;
  font-size: 12pt;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.main {
  padding-top: 4em;
}

header,
div.main {
  margin-left: 4em;
  margin-right: 4em;
}

header {
  margin-bottom: 1.5em;
}

.main p,
.main pre,
.main code.block {
  margin-bottom: 0.5em;
}

div.metadata {
  margin-bottom: 1.5em;
}

.metadata .authors,
.metadata .date {
  display: inline-block;
}

.metadata .authors:has(+ .date)::after {
  content: " | ";
}


.metadata .authors::before {
  content: "By ";
}

.metadata .authors .author:has(+ .author)::after {
  content: ", ";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 0.5em;
}

div.category-directory {
  margin-top: 1em;
}

div.category-directory h2 {
  font-size: 100%;
}

div.category-directory li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 90%;
  color: green;
}

div.category-directory li:has(+ li)::after {
  content: ", ";
}

ul.categories li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.categories li:first-child::before {
  content: "In: ";
}


ul.categories li:has(+ li)::after {
  content: ", ";
}

/**************************/

p {
  font-family: sans-serif;
}

p a:visited,
p a:link {
  text-decoration: none;
  color: var(--accent);
}

p a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
}

.block {
  background-color: var(--background-lighter);
  padding: 0.4em;
  border: 2px solid black;
  border-radius: 0.5em;
  display: block;
  overflow-x: auto;
  padding: 1rem;
  max-width: 100%;
}

/**************************/

.lexed.json .brace {
  color: #0000aa;
}

.lexed.json .arr {
  color: #008800;
}

.lexed.json .delim {
  color: #808030;
}

.lexed.json .str {
  text-decoration: underline;
}

.lexed.json .num {
  font-weight: bold;
}

.lexed.json .null {
  font-weight: bold;
  color: #ff0000;
}

.lexed.json .bool {
  color: #aa0;
}

.top {
  margin-left: 10px;
  font-family: sans-serif;
}

.top ul li {
  margin-bottom: 0.5em;
}

.title {
  width: 100vw;
  font-size: 170%;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  background-color: var(--background-lighter);
  z-index: 1000;
  padding: 0.5em 0 0.5em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title a {
  text-decoration: none;
  color: inherit;
}

.keyword {
  color: var(--accent);
}

.hl.lean .token.binding-hl,
.hl.lean .literal.string:hover,
.hl.lean .token.typed:hover {
  background-color: var(--accent-compl);
  border-radius: 2px;
  transition: none;
}